{% extends 'core/base.html' %}



{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/inicioestilo.css' %}">

<main>
    <section class="intro">
        <h1>Bienvenido a Green USM!</h1>
        <p>Nos complace presentarte <strong>Green USM</strong>, una plataforma educativa diseñada para promover la conciencia ambiental y facilitar el acceso a herramientas que te ayudarán a reducir tu impacto en el planeta. Nuestro objetivo es ser un recurso confiable para estudiantes, profesionales y toda la comunidad interesada en adoptar prácticas más sostenibles.</p>
    </section>
    <section class="content">
        <h3>¿Qué encontrarás en Green USM?</h3>
        <p>En <strong>Green USM</strong> nos enfocamos en brindarte conocimientos y herramientas para que puedas actuar de manera responsable con el medioambiente. La página cuenta con varias secciones clave:</p>
        <ul>
            <li><strong>Educación sobre el medioambiente:</strong> Aquí podrás explorar artículos, guías y recursos que te informarán sobre temas cruciales como el cambio climático, la biodiversidad, la contaminación y las soluciones sostenibles.</li>
            <li><strong>Mapa de puntos de reciclaje:</strong> Encuentra puntos de reciclaje cercanos a tu ubicación para deshacerte de tus residuos de manera responsable y contribuir a un modelo de economía circular.</li>
            <li><strong>Artículos y blogs sobre temas ambientales.</strong></li>
        </ul>
    </section>
    <section class="content">
        <h3>Nuestro enfoque y objetivos</h3>
        <p>El enfoque de <strong>Green USM</strong> es educativo y práctico. Queremos empoderar a las personas para que tomen decisiones más conscientes, con herramientas que faciliten la transición hacia un estilo de vida más sostenible. Nuestros objetivos son:</p>
        <ol>
            <li><strong>Fomentar la educación ambiental:</strong> Queremos que nuestra comunidad entienda la importancia de cuidar el medioambiente y cómo sus acciones cotidianas pueden marcar la diferencia.</li>
            <li><strong>Ofrecer herramientas accesibles:</strong> A través de nuestra calculadora de huella de carbono y el mapa de reciclaje, queremos simplificar la toma de decisiones sostenibles.</li>
            <li><strong>Promover la acción colectiva:</strong> Creemos que pequeños cambios en las acciones de muchas personas pueden tener un impacto enorme en la protección del planeta.</li>
        </ol>
    </section>
    <section class="content">
        <h3>¡Únete a <strong>Green USM</strong> y sé parte del cambio hacia un futuro más verde y sostenible!</h3>
    </section>
</main>
<footer>
    <div class="footer-content">
        <p>Contacto: <a href="mailto:contacto@greenusm.com">contacto@greenusm.com</a></p>
        <p>Teléfono: +56 9 1234 5678</p>
        <p>Dirección: Av. Universidad Técnica Federico Santa María, San Joaquin, Chile</p>
    </div>
</footer>
</body>
</html>


{% endblock %}