{% extends 'core/base.html' %}

{% block content %}

{% load static %}

{% if request.user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/perfilestilo.css' %}">      

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{ user.picture.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="card-text mt-2"><i class="bi bi-envelope"></i> {{ user.email }}</p>
                <p class="card-text mt-2"><i class="bi bi-at"></i>{{ user.username }}</p>
                <p class="card-text mt-2">Puntos Acumulados: {{ puntos_acumulados }}</p>
                <p class="card-text mt-2">{{ user.date_joined|date:"d M Y" }}</p>
                <a href="{% url 'exit' %}" class="btn btn-sm btn-success">Cerrar Sesión</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h4 style="margin-top: 20px;">Artículos de Investigación Ambiental</h4>
            <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 10px; background-color: #f9f9f9; margin-top: 3%;">
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                    {% for article in articles %}
                        <li style="margin-bottom: 10px;">
                            <a href="{{ article.url }}" target="_blank" style="font-weight: bold; color: #007bff; text-decoration: none;">{{ article.title }}</a>
                            <p>{{ article.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% else %}
    <h1>Debes iniciar sesión para ver tu perfil</h1>
{% endif %}

{% endblock %}