{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/puntosestilo.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<main>
    <section class="intro">
        <h1>Puntos de Reciclaje</h1>
        <p>Encuentra los puntos de reciclaje más cercanos a tu ubicación. Selecciona tu comuna y haz clic en "Buscar".</p>
    </section>
    <section class="search">
        <form id="search-form">
            <label for="comuna">Selecciona tu comuna:</label>
            <select id="comuna">
                <option value="Cerrillos">Cerrillos</option>
                <option value="Cerro Navia">Cerro Navia</option>
                <option value="Conchali">Conchali</option>
                <option value="El Bosque">El Bosque</option>
                <option value="Estacion Central">Estacion Central</option>
                <option value="Huechuraba">Huechuraba</option>
                <option value="Independencia">Independencia</option>
                <option value="La Cisterna">La Cisterna</option>
                <option value="Cerrillos">Cerrillos</option>
                    <option value="Cerro Navia">Cerro Navia</option>
                    <option value="Conchali">Conchali</option>
                    <option value="El Bosque">El Bosque</option>
                    <option value="Estacion Central">Estacion Central</option>
                    <option value="Huechuraba">Huechuraba</option>
                    <option value="Independencia">Independencia</option>
                    <option value="La Cisterna">La Cisterna</option>
                    <option value="La Florida">La Florida</option>
                    <option value="La Granja">La Granja</option>
                    <option value="La Pintana">La Pintana</option>
                    <option value="La Reina">La Reina</option>
                    <option value="Las Condes">Las Condes</option>
                    <option value="Lo Barnechea">Lo Barnechea</option>
                    <option value="Lo Espejo">Lo Espejo</option>
                    <option value="Lo Prado">Lo Prado</option>
                    <option value="Macul">Macul</option>
                    <option value="Maipu">Maipu</option>
                    <option value="Ñuñoa">Ñuñoa</option>
                    <option value="Padre Hurtado">Padre Hurtado</option>
                    <option value="Pedro Aguirre Cerda">Pedro Aguirre Cerda</option>
                    <option value="Peñalolén">Peñalolén</option>
                    <option value="Pirque">Pirque</option>
                    <option value="Providencia">Providencia</option>
                    <option value="Pudahuel">Pudahuel</option>
                    <option value="Puente Alto">Puente Alto</option>
                    <option value="Quilicura">Quilicura</option>
                    <option value="Quinta Normal">Quinta Normal</option>
                    <option value="Recoleta">Recoleta</option>
                    <option value="Renca">Renca</option>
                    <option value="San Bernardo">San Bernardo</option>
                    <option value="San Joaquín">San Joaquín</option>
                    <option value="San José de Maipo">San José de Maipo</option>
                    <option value="San Miguel">San Miguel</option>
                    <option value="San Ramón">San Ramón</option>
                    <option value="Santiago">Santiago</option>
                </select>
                <button type="button" id="buscar">Buscar</button>
            </form>
        </section>
        <section id="resultados" class="content oculto">
            <h3 style="text-align: center;"> Resultados </h3>
            <ul id="direcciones">
                <!-- Aquí se mostrarán los resultados de la búsqueda -->
            </ul>
        </section>
        <section id="mapa" class="content">
            <h3 style="text-align: center;">Mapa Interactivo</h3>
            <div id="map" style="height: 400px;"></div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>Contacto: <a href="mailto:contacto@greenusm.com">contacto@greenusm.com</a></p>
            <p>Teléfono: +56 9 1234 5678</p>
            <p>Dirección: Av. Universidad Técnica Federico Santa María, Valparaíso, Chile</p>
        </div>
    </footer>
    <script>
        // Inicializar el mapa
        var map = L.map('map').setView([-33.4489, -70.6693], 13); // Coordenadas de Santiago, Chile

        // Añadir una capa de mapa de OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Datos de ejemplo para los puntos de reciclaje
        var puntosReciclaje = {
            "Cerrillos": [
                { lat: -33.51645, lng: -70.71424, direccion: "Av. Americo Vespucio #1501, Cerrillos" },
                { lat: -33.48301, lng: -70.72412, direccion: "Lo Errazuriz #2701, Cerrillos" }
            ],
            "Cerro Navia": [
                { lat: -33.41640, lng: -70.74153, direccion: "Huelen #1922, Cerro Navia" },
                { lat: -33.41654, lng: -70.74677, direccion: "Chilonga #7402, Cerro Navia" }
            ],
            "Conchali": [
                { lat: -33.39853, lng: -70.67010, direccion: "Av. Dorsal #1904, Conchali" },
                { lat: -33.4900, lng: -70.7100, direccion: "Av. Independencia #584, Conchali" }
            ],
            "El Bosque": [
                { lat: -33.55368, lng: -70.67507, direccion: "Gran Av. Jose Miguel Carrera #10375, El Bosque" },
            ],
            "Estacion Central": [
                { lat: -33.46433, lng: -70.71000, direccion: "Los Maitenes #5810, Estacion Central" },
                { lat: -33.47666, lng: -70.69851, direccion: "Skatepark Diagnoal Santiago, Estacion Central" }
            ],
            "Huechuraba": [
                { lat: -33.37733, lng: -70.64162, direccion: "Jose Joaquin Aguirre Luco #849, Huechuraba" },
                { lat: -33.37243, lng: -70.63912, direccion: "Guillermo Subiabre #759, Huechuraba" }
            ],
            "Independencia": [
                { lat: -33.41019, lng: -70.67501, direccion: "Padre Faustino Gazziero #2315, Independencia" },
                { lat: -33.41869, lng: -70.67117, direccion: "Av. Salomon Sack #455, Independencia" }
            ],
            "La Cisterna": [
                { lat: -33.53332, lng: -70.65197, direccion: "Victoria #8300, La Cisterna" },
                { lat: -33.53488, lng: -70.66422, direccion: "Pedro Aguirre Cerda #161, La Cisterna" }
            ],
            "La Florida": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "La Granja": [
                { lat: -33.4489, lng: -70.6693, direccion: "Punto de Reciclaje 1, Comuna 1" },
                { lat: -33.4500, lng: -70.6700, direccion: "Punto de Reciclaje 2, Comuna 1" }
            ],
            "La Pintana": [
                { lat: -33.4600, lng: -70.6800, direccion: "Punto de Reciclaje 1, Comuna 2" },
                { lat: -33.4700, lng: -70.6900, direccion: "Punto de Reciclaje 2, Comuna 2" }
            ],
            "La Reina": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "Las Condes": [
                { lat: -33.4489, lng: -70.6693, direccion: "Punto de Reciclaje 1, Comuna 1" },
                { lat: -33.4500, lng: -70.6700, direccion: "Punto de Reciclaje 2, Comuna 1" }
            ],
            "Lo Barnechea": [
                { lat: -33.4600, lng: -70.6800, direccion: "Punto de Reciclaje 1, Comuna 2" },
                { lat: -33.4700, lng: -70.6900, direccion: "Punto de Reciclaje 2, Comuna 2" }
            ],
            "Lo Espejo": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "Lo Prado": [
                { lat: -33.4489, lng: -70.6693, direccion: "Punto de Reciclaje 1, Comuna 1" },
                { lat: -33.4500, lng: -70.6700, direccion: "Punto de Reciclaje 2, Comuna 1" }
            ],
            "Macul": [
                { lat: -33.4600, lng: -70.6800, direccion: "Punto de Reciclaje 1, Comuna 2" },
                { lat: -33.4700, lng: -70.6900, direccion: "Punto de Reciclaje 2, Comuna 2" }
            ],
            "Maipu": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "Ñuñoa": [
                { lat: -33.4489, lng: -70.6693, direccion: "Punto de Reciclaje 1, Comuna 1" },
                { lat: -33.4500, lng: -70.6700, direccion: "Punto de Reciclaje 2, Comuna 1" }
            ],
            "Padre Hurtado": [
                { lat: -33.4600, lng: -70.6800, direccion: "Punto de Reciclaje 1, Comuna 2" },
                { lat: -33.4700, lng: -70.6900, direccion: "Punto de Reciclaje 2, Comuna 2" }
            ],
            "Pedro Aguirre Cerda": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "Peñalolén": [
                { lat: -33.47667, lng: -70.54162, direccion: "Av. Grecia #8735, Peñalolén" },
                { lat: -33.50217, lng: -70.57768, direccion: "Av. Las Torres #5555, Peñalolén" },
                { lat: -33.46702, lng: -70.55906, direccion: "Av. Oriental #6958"}
            ],
            "Pirque": [
                { lat: -33.4489, lng: -70.6693, direccion: "Punto de Reciclaje 1, Comuna 1" },
                { lat: -33.4500, lng: -70.6700, direccion: "Punto de Reciclaje 2, Comuna 1" }
            ],
            "Providencia": [
                { lat: -33.4600, lng: -70.6800, direccion: "Punto de Reciclaje 1, Comuna 2" },
                { lat: -33.4700, lng: -70.6900, direccion: "Punto de Reciclaje 2, Comuna 2" }
            ],
            "Pudahuel": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "Puente Alto": [
                { lat: -33.4489, lng: -70.6693, direccion: "Punto de Reciclaje 1, Comuna 1" },
                { lat: -33.4500, lng: -70.6700, direccion: "Punto de Reciclaje 2, Comuna 1" }
            ],
            "Quilicura": [
                { lat: -33.4600, lng: -70.6800, direccion: "Punto de Reciclaje 1, Comuna 2" },
                { lat: -33.4700, lng: -70.6900, direccion: "Punto de Reciclaje 2, Comuna 2" }
            ],
            "Quinta Normal": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "Recoleta": [
                { lat: -33.4489, lng: -70.6693, direccion: "Punto de Reciclaje 1, Comuna 1" },
                { lat: -33.4500, lng: -70.6700, direccion: "Punto de Reciclaje 2, Comuna 1" }
            ],
            "Renca": [
                { lat: -33.4600, lng: -70.6800, direccion: "Punto de Reciclaje 1, Comuna 2" },
                { lat: -33.4700, lng: -70.6900, direccion: "Punto de Reciclaje 2, Comuna 2" }
            ],
            "San Bernardo": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "San Joaquín": [
                { lat: -33.4600, lng: -70.6800, direccion: "Punto de Reciclaje 1, Comuna 2" },
                { lat: -33.4700, lng: -70.6900, direccion: "Punto de Reciclaje 2, Comuna 2" }
            ],
            "San José de Maipo": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "San Miguel": [
                { lat: -33.4800, lng: -70.7000, direccion: "Punto de Reciclaje 1, Comuna 3" },
                { lat: -33.4900, lng: -70.7100, direccion: "Punto de Reciclaje 2, Comuna 3" }
            ],
            "San Ramón": [
                { lat: -33.4489, lng: -70.6693, direccion: "Punto de Reciclaje 1, Comuna 1" },
                { lat: -33.4500, lng: -70.6700, direccion: "Punto de Reciclaje 2, Comuna 1" }
            ],
            "Santiago": [
                { lat: -33.4600, lng: -70.6800, direccion: "Punto de Reciclaje 1, Comuna 2" },
                { lat: -33.4700, lng: -70.6900, direccion: "Punto de Reciclaje 2, Comuna 2" }
            ]
            

        };

        // Manejar el evento de clic en el botón "Buscar"
        document.getElementById('buscar').addEventListener('click', function() {
            var comunaSeleccionada = document.getElementById('comuna').value;
            var resultados = puntosReciclaje[comunaSeleccionada];

            // Limpiar resultados anteriores
            var listaDirecciones = document.getElementById('direcciones');
            listaDirecciones.innerHTML = '';

            // Limpiar marcadores anteriores
            map.eachLayer(function (layer) {
                if (layer instanceof L.Marker) {
                    map.removeLayer(layer);
                }
            });

            // Mostrar resultados y añadir marcadores al mapa
            resultados.forEach(function(punto) {
                var li = document.createElement('li');
                li.textContent = punto.direccion;
                listaDirecciones.appendChild(li);

                L.marker([punto.lat, punto.lng]).addTo(map)
                    .bindPopup(punto.direccion);
            });

            // Mostrar la sección de resultados
            document.getElementById('resultados').classList.remove('oculto');
        });

        document.addEventListener('DOMContentLoaded', function () {
            var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
            var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
                return new bootstrap.Dropdown(dropdownToggleEl)
            })
        });
    </script>
</body>
</html>
{% endblock %}