/* Fondo de la página */
body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
}

/* Estilo para el nombre de la empresa */
.empresa-nombre {
    text-align: center;
    font-size: 2.5em; /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    margin: 1em 0;
    color: #4CAF50;
}

/* Barra de navegación */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.8);
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover, .navbar li a.active {
    background-color: #4CAF50;
}

/* Sección de introducción */
.intro {
    text-align: center;
    padding: 1em;
    background-color: #4CAF50;
    margin: 1em auto; /* Centra el bloque horizontalmente */
    border-radius: 10px;
    width: 80vw; /* Ancho relativo al tamaño de la pantalla */
    max-width: 800px; /* Ancho máximo fijo */
    min-width: 300px; /* Ancho mínimo fijo */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
}

/* Sección de contenido */
.content {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1em;
    border-radius: 10px;
}

/* Listas */
ul, ol {
    margin: 1em 0;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.5em;
}

/* Encabezados */
h1 {
    color: #000000;
}

h3 {
    color: #4CAF50;
}

/* Resto del CSS */
main {
    padding: 2em;
    margin-bottom: 100px; /* Añade un margen inferior para separar el contenido del pie de página */
}

/* Pie de página */
footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
}

.footer-content a {
    color: #4CAF50;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}