
# PARA INSTALAR HACER pip install -r requirements.txt en entorno virtual activado

asgiref==3.8.1
crispy-bootstrap5==2024.10
Django==5.1.1
django-crispy-forms==2.3
geographiclib==2.0
pillow==11.0.0
python-ipware==3.0.0
sqlparse==0.5.1
tzdata==2024.2
