/* Fondo de la página */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 18px;
}

/* Nombre de la empresa */
.empresa-nombre {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin: 1em 0;
    color: #4CAF50;
}

/* Introducción */
.intro {
    text-align: center;
    padding: 1em;
    background-color: #fff;
    margin: 1em auto;
    border-radius: 10px;
    width: 80vw;
    max-width: 800px;
    min-width: 300px;
    box-sizing: border-box;
}

/* Desafíos */
.desafios {
    padding: 2em;
    background-color: #ffffff;
    margin: 1em;
    border-radius: 10px;
}

.desafios ul {
    list-style-type: none;
    padding: 0;
}

.desafios li {
    margin-bottom: 1em;
}

.desafios button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.desafios button:hover {
    background-color: #45a049;
}

/* Puntos */
.puntos {
    text-align: center;
    padding: 2em;
    background-color: #fff;
    margin: 1em;
    border-radius: 10px;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0; 
}

.footer-content a {
    color: #4CAF50;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}