/* Fondo de la página */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
}

/* Estilo para el nombre de la empresa */
.empresa-nombre {
    text-align: center;
    font-size: 2.5em; /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    margin: 1em 0;
    color: #4CAF50;
}

/* Barra de navegación */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.8);
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover, .navbar li a.active {
    background-color: #4CAF50;
}

/* Contenedor principal */
main {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    padding: 2em;
    margin-bottom: 150px; /* Añade un margen inferior para separar el contenido del pie de página */
}

/* Sección de introducción */
.intro {
    text-align: center;
    padding: 1em;
    background-color: #fff;
    margin: 1em auto; /* Centra el bloque horizontalmente */
    border-radius: 10px;
    width: 80vw;
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
}

/* Sección de búsqueda y resultados */
.search, #resultados {
    flex: 1;
    min-width: 300px;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1em;
}

.search {
    order: 1; /* Ordena la búsqueda primero */
    text-align: center;
    padding: 1em;
    min-width: 300px;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.results {
    text-align: center;
    padding: 1em;
    background-color: #fff;
    margin: 1em auto;
    border-radius: 10px;
    width: 80vw;
}

/* Sección de resultados */
#resultados {
    order: 2; /* Ordena los resultados segundo */
    flex: 1;
    min-width: 300px;
    margin: 1em auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1em;
}

/* Sección del mapa */
#mapa {
    order: 3; /* Ordena el mapa tercero */
    flex: 1;
    min-width: 300px;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1em;
}

/* Listas */
ul, ol {
    margin: 1em 0;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.5em;
}

/* Encabezados */
h1 {
    color: #000000;
}

h3 {
    color: #4CAF50;
}

/* Pie de página */
footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
}

.footer-content a {
    color: #4CAF50;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Estilo para el mapa */
#map {
    height: 400px; /* Ajusta la altura del mapa según sea necesario */
    width: 80vw;
    margin: 1em auto;
    border-radius: 10px;
    margin-top: 1em;
}